*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Helvetica, Arial, sans-serif;
  text-align:center;
}
.calendar {
  margin: 0 auto;
  table-layout:fixed;
  border-collapse:collapse;
  border:1px #000 solid;
}
.calendar > thead > tr > td {
  text-align: center;
}
h1 {
  text-align:center;
  color:#3399ff;
}
h2 {
  text-align:center;
}
.cal-btn {
  text-align:center;
  padding:3rem;
}
.today {
  background-color: rgb(252, 253, 175);
}
.nonDate {
  background-color: rgb(252, 253, 175);
}
#calendarBody > tr > td {
  padding: 0.2rem 0.2rem 5rem 5rem;
  border: 1px #000 solid;
  cursor:pointer;
}
#calendarBody > tr > td:hover {
  background-color:#777;
  color:#fff;
}
#calendarBody > tr > td:focus {
  background-color:#777;
  color:#fff;
}

.btn {
  padding: 1rem 4rem;
  margin:1rem;
  background-color:#3399ff;
  border:none;
  color:#fff;
  border-radius:15px;
  cursor: pointer;
  font-size: 1rem;
}
.btn:hover{
  background-color:#fff;
  box-shadow:0 0 0 1px #3399ff;
  color:#3399ff;
}
.modal {
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  height:100vh;
  width:100vw;
  overflow:auto;
  background-color:rgba(0, 0, 0, 0.6)
}
.modal-content {
  background-color:#fff;
  margin:20% auto;
  padding:4rem;
  width:50vw;
  box-shadow:0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
#modalCloseBtn {
  color:#000;
  float:right;
  font-size:2rem;
}
#modalCloseBtn:hover, #modalCloseBtn:focus{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
.markerStyle {
  margin:2px;
  background-color:#000;
  width:10px;
  height:10px;
  border-radius: 10px;
}


/* trying to get cells to stay the same size when markers added */
td[class^="cell"] {
  position: relative;
  overflow:visible;
}

td[class^="cell"]::after {
  content:'';
  display:table;
  clear:both;
}

#last-date{
  padding:1rem;
  font-size:1.2rem;
}